<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FIT5140-assignment1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5963ED55211D901B0050A6F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5963ED6C211D90200050A6F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5963ED77211D90200050A6F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
